body{
    margin: 0;
}

/*Header Bar*/
.navBar{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

.navLinks {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

}

a{
    color: #E5E7EB;
    text-decoration: none;
    padding: 1%;
}

/*Highlight Section*/
.websiteHighlights{
    display: flex;
    background-color: #1F2937;
    color: white;

}

.column{
    flex: 1;
    align-items: center;
}

.column > img{
    width: 75%;
    background-color: grey;
}

/*Random Information Space*/
.randomContent > h1{
    text-align: center;
}

.figureSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.figureSection > figure > img {
    outline-color: blue;

}

/*Quote Space*/
.quoteSpace{
    background-color: lightgrey;
    text-align: center;
    padding: 5%;
}

/*Call to Action*/
.callToAction{
    text-align: center;
    padding: 2%;

}

footer{
    text-align: center;
    background-color: #1F2937;  
    color: white;
    margin: 0;
    padding:1%;
}