/*Header Bar*/
.navBar{
    display: flex;
    justify-content: center;
    background-color: azure;
}

.navLinks {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;

}

/*Highlight Section*/
.websiteHighlights{

}